In [1]:
import pandas as pd
df=pd.read_csv("student-performance.csv")

In [2]:
from sklearn.model_selection import train_test_split
inputs=df.drop(['school','G3','sex','address','famsize','Pstatus','Medu','Fedu','Mjob','Fjob','reason','guardian','schoolsup','famsup','paid','activities','nursery','higher','internet','romantic'],axis='columns')
target=df['G3']

In [4]:
from sklearn.preprocessing import LabelEncoder
le_sex=LabelEncoder()
le_school=LabelEncoder()
le_address=LabelEncoder()
le_famsize=LabelEncoder()
le_Pstatus=LabelEncoder()
le_Medu=LabelEncoder()
le_Fedu=LabelEncoder()
le_Mjob=LabelEncoder()
le_Fjob=LabelEncoder()
le_reason=LabelEncoder()
le_guardian=LabelEncoder()
le_schoolsup=LabelEncoder()
le_famsup=LabelEncoder()
le_paid=LabelEncoder()
le_activities=LabelEncoder()
le_nursery=LabelEncoder()
le_higher=LabelEncoder()
le_internet=LabelEncoder()
le_romantic=LabelEncoder()

inputs['sex_n']=le_sex.fit_transform(df['sex'])
inputs['school_n']=le_school.fit_transform(df['school'])
inputs['address_n']=le_address.fit_transform(df['address'])
inputs['famsize_n']=le_famsize.fit_transform(df['famsize'])
inputs['Pstatus_n']=le_Pstatus.fit_transform(df['Pstatus'])
inputs['Medu_n']=le_Medu.fit_transform(df['Medu'])
inputs['Fedu_n']=le_Fedu.fit_transform(df['Fedu'])
inputs['Mjob_n']=le_Mjob.fit_transform(df['Mjob'])
inputs['Fjob_n']=le_Fjob.fit_transform(df['Fjob'])
inputs['reason_n']=le_reason.fit_transform(df['reason'])
inputs['guardian_n']=le_guardian.fit_transform(df['guardian'])
inputs['schoolsup_n']=le_schoolsup.fit_transform(df['schoolsup'])
inputs['famsup_n']=le_famsup.fit_transform(df['famsup'])
inputs['paid_n']=le_paid.fit_transform(df['paid'])
inputs['activities_n']=le_activities.fit_transform(df['activities'])
inputs['nursery_n']=le_nursery.fit_transform(df['nursery'])
inputs['higher_n']=le_higher.fit_transform(df['higher'])
inputs['internet_n']=le_internet.fit_transform(df['internet'])
inputs['romantic_n']=le_romantic.fit_transform(df['romantic'])
print(inputs)

     age  traveltime  studytime  failures  famrel  freetime  goout  Dalc  \
0     18           2          2         0       4         3      4     1
1     17           1          2         0       5         3      3     1
2     15           1          2         0       4         3      2     2
3     15           1          3         0       3         2      2     1
4     16           1          2         0       4         3      2     1
..   ...         ...        ...       ...     ...       ...    ...   ...
644   19           1          3         1       5         4      2     1
645   18           1          2         0       4         3      4     1
646   18           2          2         0       1         1      1     1
647   17           2          1         0       2         4      5     3
648   18           3          1         0       4         4      1     3

     Walc  health  ...  reason_n  guardian_n  schoolsup_n  famsup_n  paid_n  \
0       1       3  ...         0           1            1         0       0
1       1       3  ...         0           0            0         1       0
2       3       3  ...         2           1            1         0       0
3       1       5  ...         1           1            0         1       0
4       2       5  ...         1           0            0         1       0
..    ...     ...  ...       ...         ...          ...       ...     ...
644     2       5  ...         0           1            0         0       0
645     1       1  ...         0           1            0         1       0
646     1       5  ...         0           1            0         0       0
647     4       2  ...         0           1            0         0       0
648     4       5  ...         0           1            0         0       0

     activities_n  nursery_n  higher_n  internet_n  romantic_n
0               0          1         1           0           0
1               0          0         1           1           0
2               0          1         1           1           0
3               1          1         1           1           1
4               0          1         1           0           0
..            ...        ...       ...         ...         ...
644             1          0         1           1           0
645             0          1         1           1           0
646             1          1         1           0           0
647             0          0         1           1           0
648             0          0         1           1           0

[649 rows x 32 columns]

In [5]:
X0_train, X0_test, y0_train, y0_test = train_test_split(inputs, target, test_size=0.2, random_state=21)
X1_train, X1_test, y1_train, y1_test = train_test_split(inputs, target, test_size=0.2, random_state=22)
X2_train, X2_test, y2_train, y2_test = train_test_split(inputs, target, test_size=0.2, random_state=3)
X3_train, X3_test, y3_train, y3_test = train_test_split(inputs, target, test_size=0.2, random_state=45)
X4_train, X4_test, y4_train, y4_test = train_test_split(inputs, target, test_size=0.2, random_state=51)

In [6]:
from sklearn import tree
model0=tree.DecisionTreeRegressor()
model1=tree.DecisionTreeRegressor()
model2=tree.DecisionTreeRegressor()
model3=tree.DecisionTreeRegressor()
model4=tree.DecisionTreeRegressor()
model0.fit(inputs,target)
model1.fit(X1_train,y1_train)
model2.fit(X2_train,y2_train)
model3.fit(X3_train,y3_train)
model4.fit(X4_train,y4_train)
importances=model0.feature_importances_+model1.feature_importances_+model2.feature_importances_+model3.feature_importances_+model4.feature_importances_
feature_names=X0_train.columns

In [7]:
feature_importance_df = pd.DataFrame({
    'Feature': feature_names,
    'Importance': importances
})
feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)
print(feature_importance_df)

         Feature  Importance
12            G2    4.138190
10      absences    0.200482
4         famrel    0.090337
0            age    0.059401
11            G1    0.059242
14      school_n    0.042391
21        Fjob_n    0.037051
27  activities_n    0.035550
7           Dalc    0.032036
19        Fedu_n    0.030840
18        Medu_n    0.028207
8           Walc    0.027873
6          goout    0.026650
20        Mjob_n    0.024284
22      reason_n    0.022088
3       failures    0.020814
23    guardian_n    0.017889
13         sex_n    0.016680
9         health    0.014823
5       freetime    0.014097
1     traveltime    0.011163
2      studytime    0.010229
25      famsup_n    0.007695
16     famsize_n    0.005819
15     address_n    0.005546
31    romantic_n    0.004853
24   schoolsup_n    0.004756
26        paid_n    0.003204
17     Pstatus_n    0.002616
28     nursery_n    0.002353
30    internet_n    0.002335
29      higher_n    0.000507

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
inputs=df[['absences','freetime','goout','G2']].copy()
le_sex=LabelEncoder()
inputs['sex_n']=le_sex.fit_transform(df['sex'])
target=df['G3']
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size=0.2, random_state=42)
X_train.head()

     absences  freetime  goout  G2  sex_n
332         0         3      3  18      0
29          4         4      5  11      1
302         2         3      2  11      1
286         0         4      2  12      1
554         3         5      5  11      0

In [26]:
from sklearn.model_selection import RandomizedSearchCV
param_dist={
    'max_depth':list(range(3,20)),
    'min_samples_split':list(range(2,20)),
    'min_samples_leaf':list(range(1,20)),
    'max_features':[None,'sqrt','log2'],
    'criterion':['squared_error','friedman_mse']
}

In [28]:
param_opt_model=tree.DecisionTreeRegressor(random_state=21)
random_search=RandomizedSearchCV(estimator=param_opt_model,param_distributions=param_dist,cv=3,scoring='neg_mean_squared_error',random_state=21,n_iter=100)
random_search.fit(X_train,y_train)
print("Best Hyperparameters:", random_search.best_params_)

Best Hyperparameters: {'min_samples_split': 9, 'min_samples_leaf': 3, 'max_features': None, 'max_depth': 5, 'criterion': 'friedman_mse'}